table th {
    background-color: #ff0000; /* Vermelho */
    color: #fff; /* Texto branco */
}

/* Estilize as células das linhas pares */
table tr:nth-child(even) {
    background-color: #ffa500; /* Laranja */
}


table tr:nth-child(odd) {
    background-color: #ffff00; /* Amarelo */
}


table td {
    padding: 15px; 
}


table {
    width: 80%; 
    margin: 0 auto; 
    border-collapse: collapse; 
}